/***********************************    GLOBAL    *************************************/
.bg-color { background-color: black; }
.left {float: left}
.right {float: right}
.clear{clear:both;}
.container {
    display: flex;
    align-items: center;
}

/***********************************    Part A    *************************************/
/* COLOR */
/* .bg-color-search { background-color: rgb(33,35,39);}  */
.bg-color-search { background-color: darkgray;}
.text-color-search { color: white; }
.search-bar-color{
    background-color: darkgray;
    color: white;
}

/* PADDING */
.pad-top-explore {padding-top: 8px;}
.pad-all-search {
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}
.pad-left-search {padding-left: 16px;}
.pad-right-search {padding-right: 16px;}

/* MARGINS */
.margin-right { margin-right: 16px; }


/* SIZE, POSITION, ALIGNMENT, BORDERS */
.search-bar-width{width: 90%;}
.rounded-corners-search {border-radius: 24px; }

.pos-abs-gear {
    position: absolute;
    right:12px;
    vertical-align: middle;}



/***********************************    Part B    *************************************/
/* COLOR */
.bg-color-links { background-color: rgb(33,35,39);} 
.text-highlight-color-links { color: rgb(29,161,242);} 
.text-color-links { color: rgb(110, 118, 125);}

/* PADDING */
.pad-top-links {padding-top: 24px;}
.pad-all-links { padding: 16px; }

/* MARGINS */

/* SIZE, POSITION, ALIGNMENT, BORDERS */
.font-size-links { font-size: 15px; }
.container-equal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-bottom-highlight-link{
    border-bottom-color: rgb(29,161,242);
    border-bottom-style: solid;
    border-bottom-width: 8px;
}

.border-bottom-default-link{
    border-bottom-color: rgb(110, 118, 125);
    border-bottom-style: solid;
    border-bottom-width: 8px;
} 
.border-padding-top{padding-top: 0px;}

/* TEXT  */
a.no-formatting {text-decoration: none; }





/***********************************    Part C    *************************************/
/* COLOR */
.text-color-trending { color: rgb(110, 118, 125);}
.text-color-title { color: white; }

/* PADDING */
.border-padding-bottom-trend{padding-bottom: 16px;}

/* MARGINS */
.margin-top-trending { margin-top: -16px; }

/* SIZE, POSITION, ALIGNMENT, BORDERS */
.font-size-suggested-trending { font-size: 13px; }
.font-size-suggested-title { font-size: 16px; }
/* TEXT  */



/***********************************    Part D    *************************************/
/* COLOR */

/* PADDING */
.pad-left-bottom-right-trending {     
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;}
.pad-left-trending {padding-left: 16px;}

/* MARGINS */
.margin-right-trending { margin-right: 16px; }

/* SIZE, POSITION, ALIGNMENT, BORDERS */
.pos-abs-trend-img {
    position: absolute;
    right:16px;
    vertical-align: middle;}

img.rounded {border-radius: 15%;}
/* TEXT  */




/***********************************    Part E    *************************************/
/* COLOR */
.text-color-live-trend { color: lightgray;}

/* PADDING */
.pad-left-bottom-right-trending {     
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;}
.pad-left-trending {padding-left: 16px;}
.border-padding-top-trending{padding-top: 48px;}

/* MARGINS */
.margin-right-trending { margin-right: 16px; }

/* SIZE, POSITION, ALIGNMENT, BORDERS */
.pos-abs-trend-img {
    position: absolute;
    right:16px;
    vertical-align: middle;}

img.rounded {border-radius: 15%;}
/* TEXT  */


